/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px; 
}

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right, 
        rgba(126, 213, 111, 0.486), 
        rgba(40, 180, 133, 0.5)) , linear-gradient(
        to bottom, 
        rgba(126, 213, 111, 0.589), 
        rgba(40, 180, 133, 0.589)), 
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo-box{
    position: absolute;
    top: 70px; 
    left: 70px;
}

.logo{
    width: 68px;
}
.header-text-box{    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    text-align: center; 
}
.heading-primary-main{
    letter-spacing: 31px;
    display: block;
    font-weight: 400;
    font-size: 60px;
    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
}
.heading-primary-sub{
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-delay: .5s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hero-button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: white;
    color: #777;
    margin: 0 auto;
    text-transform: uppercase;
} */